# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Directories
saved_models/
diagnostics_results*/
logs/

# Jupyter
.ipynb_checkpoints

*.pyc
*.pth
*.pt
*.png
*.csv
*.txt
*.svg
*.npy
*.pkl

saved_models/

# Ignore diagnostics results directories
scripts/diagnostics_results_*/
experiments/svrg_comparison/results/svrg_comparison_*
